{% extends 'base.html.twig' %}

{% block title %}Organization index{% endblock %}

{% block body %}
    <h1>Organization index</h1>

    <table class="table table-striped table-hover align-bottom">
        <thead>
        <tr>
            <th>Organization</th>
            <th class="text-end">Spent</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for organization in organizations %}
            <tr>
                <td class="w-75">
                    <a href="{{ path('app_organization_show', {'id': organization.id}) }}">
                        {{ organization.name }}
                    </a>
                </td>
                <td class="text-end">{{ manager.secondsFor(organization) | as_hours }}</td>
                <td>
                    <a href="{{ path('app_organization_show', {'id': organization.id}) }}" class="btn btn-primary btn-sm">Show</a>
                    {% if is_granted('edit',organization) %}
                        <a href="{{ path('app_organization_edit', {'id': organization.id}) }}" class="btn btn-secondary btn-sm">Edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('create', 'App\Entity\Organization') %}
        <a href="{{ path('app_organization_new') }}" class="btn btn-success">Create new</a>
    {% endif %}

{% endblock %}
