{% extends 'base.html.twig' %}

{% block title %}{{ project.name }}{% endblock %}

{% block body %}
    <h1>{{ project.name }}</h1>
    {{ estimate_progress(project.totalEstimate, project.totalEntries) | raw }}

    <a href="{{ path('app_project_index') }}">back to list</a>

    <a href="{{ path('app_project_edit', {'id': project.id}) }}">edit</a>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Task</th>
                <th class="text-end">Spent</th>
                <th>Estimated</th>
            </tr>
            </thead>
            <tbody>
            {% for task in project.tasks %}
                <tr class="align-bottom">
                    <td class="w-auto">{{ task.name }} {{ task.id }}</td>
                    <td class="text-end">
                        <small>{{ manager.secondsFor(task) | as_hours }}</small>
                    </td>
                    <td class="w-50">{{ estimate_progress(task.totalEstimate, task.totalEntries) | raw }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td><em>No task</em></td>
                <td class="text-end">
                    <small>{{ manager.secondsForTask() | as_hours }}</small>
                </td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>

    {{ include('project/_delete_form.html.twig') }}
{% endblock %}
