{% extends 'base.html.twig' %}

{% block title %}{{ project.name }}{% endblock %}

{% block body %}
    <h1>{{ project.name }}</h1>
    {{ estimate_progress(project.totalEstimate, project.totalEntries) | raw }}

    <a href="{{ path('app_project_index') }}">back to list</a>

    <a href="{{ path('app_project_edit', {'id': project.id}) }}">edit</a>

    <div class="accordion" id="projects">
        {% for task in project.tasks %}
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#tasks-{{ task.id }}" aria-expanded="true" aria-controls="tasks-{{ task.id }}">
                        {{ task.name }}
                        &nbsp;
                        <span class="badge text-bg-secondary">{{ task.subtasks.count }}</span>
                    </button>
                    {{ estimate_progress(task.totalEstimate, task.totalEntries) | raw }}
                </h2>
                <div id="tasks-{{ task.id }}" class="accordion-collapse collapse" data-bs-parent="#projects">
                    <div class="accordion-body">
                        <ul class="list-group list-group-flush">
                            {% for subtask in task.subtasks %}
                                <li class="list-group-item">
                                    {{ subtask.name }}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    {{ include('project/_delete_form.html.twig') }}
{% endblock %}
